* {
    font-family: 'Roboto Serif', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background: #808080;
    color: #fff;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 100px auto 20px auto;
    font-size: 60px;
}

section,
aside,
form {
    padding: 10px;
    border-radius: 12px;
}

.flex-container {
    width: 800px;
    margin: 50px auto 20px auto;
    display: flex;
    background-color: slategrey;
    border-radius: 20px;
}

.main-content {
    flex: 1;
}

.sidebar {
    flex: 0 0 300px;
}

.form-1 {
    height: 418px;
}

.form-1 label {
    display: block;
    width: 150px;
    text-align: left;
}

.form-1 input,
select {
    width: 300px;
    border: 1px solid #ccc;
    margin: 5px auto;
    justify-content: right;
}

@media screen and (max-width: 768px) {
    h1 {
        display: block;
        font-size: 30px;
    }
    .flex-container {
        display: block;
        width: 100%;
    }
    .form-1 textarea {
        width: 200px;
        height: 250px;
    }
    .form-1 input,
    select {
        width: 200px;
    }
}

textarea {
    width: 300px;
    height: 200px;
}

.form-2 input {
    width: 300px;
    border: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.form-2 input[type=radio] {
    margin-top: -50px;
    margin-left: -140px;
    margin-bottom: 10px;
}

.form-2 label {
    margin-left: -150px;
}

.form-2 input[type=checkbox] {
    margin-left: -140px;
}

.form-2 input[type=submit] {
    width: 300px;
    height: 40px;
    background-color: #deb887;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 50px 20px 50px;
    transition: ease-in-out 0.3s;
}

input[type=submit]:hover {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    box-shadow: inset 300px 0 0 0 #deb4c4;
    cursor: pointer;
}

p {
    line-height: 5px;
}